In [4]:
import pandas as pd

In [8]:
dataset = pd.read_excel("For encoding prac.xlsx")
dataset.head(3)

,Row,Day,Day.Of.Week,Date,Page.Loads,Unique.Visits,First.Time.Visits,Returning.Visits
0,1,Sunday,1,2014-09-14,2146,1582,1430,152
1,2,Monday,2,2014-09-15,3621,2528,2297,231
2,3,Tuesday,3,2014-09-16,3698,2630,2352,278

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2167 entries, 0 to 2166
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Row                2167 non-null   int64
 1   Day                2167 non-null   object
 2   Day.Of.Week        2167 non-null   int64
 3   Date               2167 non-null   datetime64[ns]
 4   Page.Loads         2167 non-null   int64
 5   Unique.Visits      2167 non-null   int64
 6   First.Time.Visits  2167 non-null   int64
 7   Returning.Visits   2167 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 135.6+ KB

In [12]:
dataset.isnull().sum()

Row                  0
Day                  0
Day.Of.Week          0
Date                 0
Page.Loads           0
Unique.Visits        0
First.Time.Visits    0
Returning.Visits     0
dtype: int64

In [22]:
dataset["Unique.Visits"].value_counts()

Unique.Visits
2781    5
3039    5
1197    5
2667    5
2844    4
       ..
4917    1
2269    1
3505    1
4422    1
1564    1
Name: count, Length: 1658, dtype: int64

In [16]:
dataset["Unique.Visits"].fillna(dataset["Unique.Visits"].mode()[0])

0       1582
1       2528
2       2630
3       2614
4       2366
        ...
2162    1696
2163    2037
2164    2638
2165    2683
2166    1564
Name: Unique.Visits, Length: 2167, dtype: int64

In [18]:
dataset["Unique.Visits"].replace(2780,2781,inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_9524\223106485.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Unique.Visits"].replace(2780,2781,inplace=True)

In [20]:
dataset["Unique.Visits"] = dataset["Unique.Visits"].replace(2780, 2781)

In [28]:
dataset["Unique.Visits"]=dataset["Unique.Visits"].astype("float64")

In [30]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2167 entries, 0 to 2166
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Row                2167 non-null   int64
 1   Day                2167 non-null   object
 2   Day.Of.Week        2167 non-null   int64
 3   Date               2167 non-null   datetime64[ns]
 4   Page.Loads         2167 non-null   int64
 5   Unique.Visits      2167 non-null   float64
 6   First.Time.Visits  2167 non-null   int64
 7   Returning.Visits   2167 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(1)
memory usage: 135.6+ KB