In [2]:
import pandas as pd

In [25]:
data = {"Name":["a","b","c","d","a","c"],"Eng":[7,2,5,6,7,9],"Urdu":[2,4,6,8,2,8]}

In [27]:
df =pd.DataFrame(data)

In [29]:
df

  Name  Eng  Urdu
0    a    7     2
1    b    2     4
2    c    5     6
3    d    6     8
4    a    7     2
5    c    9     8

In [33]:
df.drop_duplicates(inplace=True)

In [35]:
df

  Name  Eng  Urdu
0    a    7     2
1    b    2     4
2    c    5     6
3    d    6     8
5    c    9     8

In [37]:
dataset = pd.read_excel("For encoding prac.xlsx")
dataset.head(3)

,Row,Day,Day.Of.Week,Date,Page.Loads,Unique.Visits,First.Time.Visits,Returning.Visits
0,1,Sunday,1,2014-09-14,2146,1582,1430,152
1,2,Monday,2,2014-09-15,3621,2528,2297,231
2,3,Tuesday,3,2014-09-16,3698,2630,2352,278

In [39]:
dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2162    False
2163    False
2164    False
2165    False
2166    False
Length: 2167, dtype: bool

In [41]:
dataset.shape

(2167, 8)

In [43]:
dataset.drop_duplicates(inplace=True)

In [45]:
dataset.shape

(2167, 8)